html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}
