.detail {
  background: #f33535;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 50px 20px;
}

.name {
  margin: 0 0 20px 0;
}

.country,
.timezone {
  margin: 0;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.feature {
  text-align: center;
}

.icon {
  font-size: 36px;
}

.featYes {
  color: green;
}

.featNo {
  color: red;
}

.btn {
  margin-top: 50px;
  text-align: center;
}

.btn button {
  background: #fff;
  border: none;
  color: #222;
  outline: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

.btn button:hover {
  background: #eee;
}
