.item {
  padding: 0 10px;
  text-decoration: none;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.item:hover {
  background: #F33535;
  color: #fff;
}

.name,
.country {
  margin: 0;
}

.odd {
  background: #f4f4f4;
}

.even {
  background: #fff;
}
